.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5rem auto;
  padding: 0;
}

.container h1 {
  font-size: var(--size-6);
  margin: var(--size-4) 0;
}
