.btn {
  background-color: var(--color-primary-500);
  color: white;
  padding: 0.2rem;
  border-radius: 70px;
  font-size: 0.3rem;
  cursor: pointer;
  margin-bottom: 0.1rem;
  margin-left: 0.5rem;
  margin-right: 0.7rem;
}

.btn:hover {
  background-color: var(--color-primary-800);
}

@media (min-width: 768px) {
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    border-radius: 70px;
    font-size: 1rem;
    cursor: pointer;
    width: var(--size-20);
    height: var(--size-10);
  }
}
