.auth {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  width: 90%;
  height: 18rem;
  max-width: 28rem;
  border-radius: 20px;
  background-color: #2d3748;
  box-shadow: 0 1px 4px rgba(117, 93, 93, 0.2);
  padding: 1rem;
  text-align: center;
  border: solid 1px #a2d2ff;

  margin-top: 15rem;
}

.auth h1 {
  text-align: center;
  color: white;
}

.auth h4 {
  text-align: center;
  color: white;
}

.btn {
  background-image: var(--color--multicolor);
  border-radius: var(--size-5);
  border: 2px solid var(--color-black-100);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-image: var(--color--multicolor-gradient);
  border: 2px solid var(--color-black-100);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.spider {
  z-index: 1 !important;
  position: absolute;
  top: 0;
}
.iron {
  z-index: 1 !important;
  position: absolute;
  top: 31rem;
  right: 0rem;
}

@media (min-width: 768px) {
  .auth {
    width: 50%;
    height: 18rem;
  }
  .auth h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .iron {
    z-index: 1 !important;
    position: absolute;
    top: 28rem;
    right: 25rem;
  }
}
