.divlog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: var(--size-9);
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: var(--color-grey-50);
  margin-left: 0.2rem;
}

.logo h1 {
  font-size: 1rem;
}
.img {
  animation: App-logo-spin infinite 20s linear !important;
}

@media (min-width: 768px) {
  .divlog {
    width: 12rem;
    margin-bottom: 1rem;
  }
  .logo {
    font-size: var(--size-16);
    margin-bottom: 0.8rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
